<script type="text/x-magento-init">
{
"*": { 
    "Siliconrockstar_Jsmodule/alert": {
        "message":"alerted from text/x-magento-init tag"
        }
    }
}

</script>

<p>This page uses a &lt;script type="text/x-magento-init"&gt; to call a JS module. Then the JS module alerts the passed in message.</p>