<style>
    div#srexample {
        border:1px solid black;
        padding:10px;
    }
</style>

<p>Uses a data-mage-init attribute on the div below, passing a data value to the JS component Siliconrockstar_Jsmodule/js/datamageinit. That
    JS component then sets the div's inner text to the passed in value.</p>

<!-- this technique does not exist in core, as of v2.3 -->
<div id="srexample" data-mage-init='{ "Siliconrockstar_Jsmodule/js/datamageinit":{"dataValue":"This data came out of a data-mage-init attribute via a JS module"} }'></div>