<?php
/** @todo I can probably pull this from the block but good enough for demo */
$frontName = 'srjsmodule';
?>
<h1>Javascript Demo code</h1>
<ul>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/alert">initialize a JS module with a script type="text/x-magento-init"</a></li>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/datamageinit">attach a JS Module to a div using the data-mage-init attribute, pass a config value, and set the div's content</a></li>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/ko1">Knockout 1 - bind a JS module and populate a value from the module</a></li>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/ko2">Knockout 2 - bind a JS module and populate values from the module and the x-magento-init script config</a></li>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/ko3">Knockout 3 - update the UI with an observable</a></li>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/uicomponent1">UI Component 1 - The most basic UI component possible</a>
        <p>UI Components add a server-side xml system around the components discussed previously</p></li>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/uicomponent2">UI Component 2</a>
        <p>Same as UI Component 1, but includes an xhtml template </p></li>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/uicomponent3">UI Component 3</a>
        <p>Adds two server-side block classes to the page - one via layout, and one via UI Component config file and x-magento-init tag</p></li>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/uicomponent4">UI Component 4</a>
        <p>incorporates a RequireJS Module for the full UI Component experience</p></li>
    <li><a href="<?php echo $block->getBaseUrl() . '/' . $frontName ?>/index/uicomponent5">UI Component 5</a>
        <p>UI Component 5</p></li>
</ul>