<script type="text/x-magento-init">
{
"*": { 
    "Magento_Ui/js/core/app": {
            "components": {
                "ko1": {
                    "component": "Siliconrockstar_Jsmodule/js/ko1",
                    "name": "value from init tag"
                }
            }
        }
    }
}
</script>


<h1>KO 1</h1>

<p>There is a div below whose text is set from a JS module</p>

<div data-bind="scope: 'ko1'">
    <div data-bind="text: value"></div>
</div>