<!-- 'name' is a 'protected' key, so don't use it in config -->
<!-- ko2 is the scope name -->
<script type="text/x-magento-init">
{
"*": { 
    "Magento_Ui/js/core/app": {
            "components": {
                "ko2": {
                    "component": "Siliconrockstar_Jsmodule/js/ko2",
                    "textvalue": "value from init tag"
                }
            }
        }
    }
}
</script>

<h1>KO 2</h1>

<p>There is a div below with KO values set from both the JS Module constructor and the config in teh x-magento-init tag</p>

<div data-bind="scope: 'ko2'">
    <div data-bind="text: textvalue"></div>
    <div data-bind="text: othertextvalue"></div>
</div>