<script type="text/x-magento-init">
{
"*": { 
    "Magento_Ui/js/core/app": {
            "components": {
                "ko3": {
                    "component": "Siliconrockstar_Jsmodule/js/ko3",
                    "textvalue": "value from init tag"
                }
            }
        }
    }
}
</script>

<h1>KO 3</h1>

<p>Updating the UI via an observable</p>

<div data-bind="scope: 'ko3'">
    <div data-bind="text: textvalue"></div>
    <div data-bind="text: othertextvalue"></div>
    <button data-bind="click: updateTextValue">Click to update the text value</button>
</div>