<div>
    <p>This content is from ./view/frontend/ui_component/templates/uicomponent4.xhtml</p>
    <div    
        data-bind="scope: '{{getName()}}.{{getName()}}'"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../Ui/etc/ui_template.xsd">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <p>The data above was loaded via xhr request. It was set as the template for the Require JS Module at ./view/frontend/js/
         uicomponent4.js and so was requested automatically.</p>
    </div>
</div>