<div>
    <p>./view/frontend/ui_component/templates/uicomponent3.xhtml</p>
    <div    
        data-bind="scope: '{{getName()}}.{{getName()}}'"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../Ui/etc/ui_template.xsd">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <p>This message is from the ui component template at ./view/frontend/ui_component/templates/uicomponent3.xhtml</p>
    </div>
</div>