<div>
    <p>./view/frontend/ui_component/templates/uicomponent2.xhtml</p>
    <div xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../../../Ui/etc/ui_template.xsd">
        <h2> Hi, I'm an xhtml template.</h2>
        <p>Xhtml templates are checked against an xsd schema at vendor/magento/module-ui/etc/ui_template.xsd, so they have some specific structural rules, like
            they must have a div or form as the root node.</p>
    </div>
</div>